body {
    background: #E0E0E0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    overflow: hidden;
}

#clock, #clock span {
    text-align: center;
}

h1, p {
    color: #eee;
    #font-family: sans serif;
}

